.idea
.vscode
*.o
__pycache__

build/
debian/.debhelper/
debian/callblocker.debhelper.log
debian/callblocker.substvars
debian/callblocker/
debian/files
obj-*-linux-gnu/

src/callblockerd
src/libcallblockerd.a

usr/share/callblocker/*.pyc
usr/var/www/callblocker/dist/
usr/var/www/callblocker/node_modules/

test/callblockerd/unit_tests

third-party/pjproject/pjproject-2.8.tar.bz2
third-party/pjproject/pjproject-2.8
