.idea
.vscode
*.o
__pycache__

build/
debian/.debhelper/
debian/callblocker.debhelper.log
debian/callblocker.substvars
debian/callblocker/
debian/files
obj-*-linux-gnu/

src/callblockerd
src/libcallblockerd.a

web/dist/
web/node_modules/

usr/share/callblocker/*.pyc

test/callblockerd/unit_tests

third-party/pjproject/*.tar.gz
third-party/pjproject/pjproject-*

# generated during build
usr/var/www/callblocker/dojo/
usr/var/www/callblocker/index.html
usr/var/www/callblocker/js/
