Makefile
Makefile.in
aclocal.m4
compile
config.log
config.status
configure
depcomp
install-sh
missing
autom4te.cache

.deps
.idea
*.o
src/callblockerd
src/libcallblockerd.a
usr/share/callblocker/*.pyc
test/callblockerd/unit_tests
