@import "javascript/dojo/resources/dojo.css";
@import "javascript/dijit/themes/soria/soria.css";
@import "javascript/dojox/grid/resources/soriaGrid.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font: 13px Helvetica,Myriad,Tahoma,Arial,clean,sans-serif;       
  *font-size: 81.25%;
}

.whitelistRow .dojoxGridCell {
    background-color: LightGreen;
}
.blockedRow .dojoxGridCell {
    background-color: #FF6666;
}
.errorRow .dojoxGridCell {
    background-color: #FF6666;
}
.warnRow .dojoxGridCell {
    background-color: #FFFF66;
}

